@import "variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary);
  color: var(--secondary);
}
header {
  padding: 1rem;
  nav {
    background-color: var(--accent);
    border-radius: 1rem;
    padding-block: 1rem;
    ul {
      list-style: none;
      display: grid;
      li {
        display: flex;
        a {
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: var(--primary);
          width: 100%;
        }
      }
    }
  }
}
main {
  display: flex;
  width: 100%;
}
#movieCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  width: auto;
  .movieCard {
    position: relative;
    display: grid;
    box-shadow: 0px 2px 7px var(--shadow);
    border-radius: 0.5rem;
    align-content: start;
    width: 100%;
    max-width: 300px;
    .movieImageWrapper {
      display: grid;
      place-items: center;
      .movieImage {
        object-fit: scale-down;
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }
    .movieDetailsWrapper {
      padding: 1rem;
      display: grid;
      gap: 0.5rem;
      header {
        display: grid;
        .movieTitle {
          font-weight: 700;
          font-size: 1.25rem;
        }
        .movieReleaseDate {
          font-weight: 100;
        }
      }
      .movieRatingWrapper {
        background-color: var(--secondary);
        color: var(--primary);
        border-radius: 50%;
        display: grid;
        position: absolute;
        height: 4rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        .movieRatingBar {
          position: absolute;
          circle {
            transform-origin: center;
            transform: rotate(-90deg);
          }
        }

        .movieRating {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          font-size: 0.75rem;
        }

        .movieRatingVotes {
        }
      }
      .movieOverviewWrapper {
        width: fit-content;
        .movieOverview {
          width: 100%;
        }
      }
    }
  }
}
@media(min-width:850px){
  header {
display: flex;
justify-content: center;
    nav {
width: fit-content;
padding-inline: 2rem;
      ul {
justify-content: center;
        display: flex;
        li {

          a {

          }
        }
      }
    }
  }
}
